/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require 'masonry/transitions'
  *= require sweetalert
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @font-face {
  font-family: 'MT';
  src:url('fontscorecomttwcenmt.ttf');
 }
 $mt: 'Tw Cen MT';
 $raleway: 'Raleway', sans-serif;
 $stalemate: 'Stalemate', cursive;
 .row{
     margin: 0;
 }
 .btn-outline {
     background-color: transparent;
     color: inherit;
     transition: all .5s;
 }
 .mt-12{
     margin-top: -12%;
 }
 // #content{
 //     width: 101%;
 //     margin-left: -1%;
 // }
 .btn-primary.btn-outline {
     color: #428bca;
 }

 .btn-success.btn-outline {
     color: #5cb85c;
 }

 .btn-info.btn-outline {
     color: #5bc0de;
 }

 .btn-warning.btn-outline {
     color: #f0ad4e;
 }

 .btn-danger.btn-outline {
     color: #d9534f;
 }

.order-now-btn.btn-outline{
    color: white;
    border: 2px solid white;
    font-size: 200%;
    font-weight: 700;
    font-family: $mt;
    text-transform: uppercase;;
}


 .btn-primary.btn-outline:hover,
 .btn-success.btn-outline:hover,
 .btn-info.btn-outline:hover,
 .btn-warning.btn-outline:hover,
 .btn-danger.btn-outline:hover {
     color: #fff;
 }
 .order-now-btn.btn-outline:hover{
     color: black;
     background-color: white;
     border: 2px solid black;

 }
input{
    color: black;
}

.pad2{
    padding: 2%;
}

.jumbotron{
    background-color: white;
}

.stalemate{
    font-family: 'Stalemate', cursive;
}
.navbar-brand{
    width: 20%;
    font-size: 600%;
    color: white;
    transition: .3s ease-in;
    &:hover{
        color: white;
        text-shadow: 6px 9px 5px grey;
    }
}
.nav-tabs.nav-justified > li > a{
    border: none !important;
    color: white;
    font-size: 150%;
}

.card-img-top{
    background-size: cover;
    width: 100%;
    height: 55vh;

}
.card-title{
    a{
        font-size: 240%;

    }
}
.card-block{
    padding: 2%;
}
.order-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.order-flex-items{
    flex: 1;
    margin: 2%;

    .card-block{
        h1{
            font-size: 100%;
        }
    }
}
.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2%;
    padding: 3%;
    background-color: white;
}
.flex-item{
    padding: 1.5%;
    width: 33%;

    .card-title{
        h1{
            font-size: 100%;
        }
    }

}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
}
#quantity{

	color: black !important;
	text-decoration-color: black !important;
}
.notice{
	color:white;
	background-color: black;
	font-size: 25px;
	font-weight: bold;
}
.padding-all-around{
	padding: 3%;
}
#login h2{
	font-size: 40px;
}


@media screen and (max-width: 768px){
  .nav-tabs{
      display: block;
      flex-direction: column;
      background-color: black;
  }
  .flex-item{
      flex: none;
      width: 100%;
  }
  .order-flex-items{
      width: 100%;
      flex: none;
  }
}
.nav-tabs{
	border-bottom: 0px;
	padding-top: 10px;
	margin-bottom: -10px;
}
#email_field{
	font-size: 25px;
	height: 35px;
}
#password_field{
	font-size: 25px;
	height: 35px;
}
footer{
	width: 100%;
	padding-top: 2%;
  position: absolute;

}
footer .btn{
	margin-top: 10%;
	color: black;
  font-family: 'Righteous', cursive;
	background:none;
	background-color: transparent;

    &:hover{
        background-color: #514949;
    }
}
#admin{
	margin-bottom: 20%;
}
