// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#order thead{
	color: white;
	font-size:25px;
}
#order tbody{
	color: white;
	font-size:22px;
}
#orderbody{
	margin-bottom: 10%;
}
