// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
	font-family: "Times New Roman" ;

}
p{
	color: white;
	font-size: 30px;
	padding:10% 10% 10% 10%;
}
#order thead{
	color: white;
	font-size:25px;
}
#order tbody{
	color: white;
	font-size:22px;
}