// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grub-text: 'Righteous', cursive;

.well{
	height: 200px;
	width: 200px;
}
#table{
	color: white;
	font-size: 20px;
}

.jumbotron{
	background: transparent;
	color: white;

}
.grubfont{
	font-family: $grub-text;
}
.fa-cart-plus:before{
	position: relative;
	bottom: 5px;
}

.btn-grub{
	background-color: black;
	&:hover{
		background-color: white;
		color: black;
	}
}

td{
	font-weight: bold;


}
a{
	font-family: $grub-text;
}

.grubtext{
    font-family: $grub-text;
	color: black !important;
}

.card-action a{
	color: black !important;
}
body #menu{
	background-size: contain !important;
	background-repeat: repeat;
}
