// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.well{
	height: 200px;
	width: 200px;
}
#table{
	color: white;
	font-size: 20px;
}
.nav{
	background-color: black;
	border-radius: 10px;

}
.nav-justified a{
	padding: 10px;
}