// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grub-text: 'Righteous', cursive;

.well{
	height: 200px;
	width: 200px;
}
#table{
	color: black;
	font-size: 20px;
	background-color: white;
	padding: 2%;
	border-radius: 2px;
}
.r-id{
	margin: 1%;
}
.righteous{
	font-family: $grub-text;
}

.grubfont{
	font-family: $grub-text;
}
.fa-cart-plus:before{
	position: relative;
	bottom: 5px;
}


td{
	font-weight: bold;


}
#menu-show{
	 background-color: rgba(grey, 0.5);
}

.grubtext{
    font-family: $grub-text;
	color: black !important;
}

.card-action a{
	color: black !important;
}
#menu{
	background-color: rgba(grey, 0.4);
	background-size: cover !important;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
