// Place all the styles related to the visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.paddin-all-around{
	padding: 10px;
}
#form{
	width: 450px;
	border-radius: 5px;
}
h3{
	color: white;
	border:1;
	font-weight: bold;
}
h2 a{
	color:white;
	font-weight: bold;
}
.tv img{
	border-radius: 25px;
	max-height: 150px;
	width: 55%;	
}

#visitor{
	background: url('burger.gif') ;
    background-size: cover !important;
}