<nav class='navbar'>
  <div class="wrapper">

    <ul class="nav nav-justified">
      <li>
        <a href="#"> HOME</a>
      </li>
      <li>
        <a href="#"> OUR RESTAURANTS</a>
      </li>
      <li>
        <a href="#"> ABOUT US</a>
      </li>
      <% if user_signed_in? %>
        <li>
          <%=  "user" %> Hello, <strong><%= current_user.email %></strong>
        </li>
        <li>
          <%= link_to 'Profile', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Register', new_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Login', new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<!--<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li class="active"><a href="#">About</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>-->
